@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: theme('colors.brand.600');
  }

  * {
    @apply border-border;
  }

  html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@layer utilities {
  /* Esconde elementos na impressão por padrão */
  @media print {
    .no-print {
      display: none !important;
    }

    .print-only {
      display: block !important;
    }

    body {
      font-size: 12pt;
      color: #000;
      background: #fff;
    }
  }

  .print-only {
    display: none;
  }
}
